/* scss-lint:disable QualifyingElement, ImportantRule */

/**
 * Root element styles
 * 1. Ensure the page always fills at least the entire height of the viewport.
 * 2. Force scrollbars to always be visible to prevent awkward 'jumps' when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */
html {
  min-height: 100%; /* 1 */
  overflow-y: scroll; /* 2 */
}

/**
 * Flat background color for the whole page
 */
body {
  background-color: $color-body-background;

  &.loaded {
    .main,
    .header,
    .cover__title,
    .cover__subtitle,
    hr {
      display: block;
    }

    .cover__loading {
      display: none !important;
    }

    video {
      display: inline-block !important;
    }
  }

}

* {
  @include selection {
    background-color: $black;
    color: $white;
  }
}

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */
.hidden,
[hidden] {
  display: none !important;
}

/**
 * Removes extra margins/paddings that isn't removed by normalize.css
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 *  Basic styles for links
 */
a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:active {
    outline: 0;
    text-decoration: none;
  }

  &.btn {
    background-color: $yellow;
    border: 1px solid $white;
    border-color: $yellow;
    border-radius: 3px;
    display: table; //shame when nested on li
    padding: .2em 1em;


    &:hover:not(.btn-nohover) {
      background-color: transparent;
      border-color: $white;
    }

    /*&.btn-nohover {
    }*/
  }
}

/**
 * Basic image styles
 * 1. Offset `alt` text from surrounding copy.
 * 2. Fluid images for responsive purposes.
 * 3. Removes the whitespace under `img` elements.
 */
img {
  display: block;
  font-style: italic; /* 1 */
  height: auto;
  max-width: 100%; /* 2 */
  vertical-align: middle; /* 3 */
}

/**
 * Basic styles for nested lists
 */
li {
  list-style: none;
  margin: 0;
  padding: 0;

  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Basic styles for hr
 */
hr {
  border: 1.5px solid $color-hr-border;
  border-width: 1.5px;
  margin-bottom: 1.8em;
  width: 80px;
}
