// scss-lint:disable DuplicateProperty, VendorPrefix

/**
 * Basic typography styles
 * 1. Set the default `font-size` and `line-height` for the entire project,
 * 2. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 * 3. Prevent certain mobile browsers from automatically zooming fonts.
 */
body {
  @include font-size($font-size-default); /* 1 */
  color: $color-body-text;
  font-family: $font-primary;
  -moz-osx-font-smoothing: grayscale; /* 2 */
  -webkit-font-smoothing: antialiased; /* 2 */
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $spacing-unit-default; /* 1 */
  line-height: ($spacing-unit-default / 16px) * 1em; /* 1 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

h1 {
  @include font-size($font-size-cover-title);
  font-weight: $font-weight-extrabold;
  letter-spacing: -3.78px;
  line-height: 50px;
  margin-bottom: $spacing-unit-default;
  margin-bottom: ($spacing-unit-default / 16px) * 1rem;

  @include breakpoint($mobile-small (orientation landscape)) {
    @include font-size(50px);
    letter-spacing: -2.5px;
    line-height: 41px;
  }

  @include breakpoint($screen-xxx-large) {
    margin-bottom: $spacing-unit-default * 1.5;
    margin-bottom: ($spacing-unit-default * 1.5 / 16px) * 1rem;
  }
}

h2 {
  @include font-size($font-size-card-title);
  font-family: $font-primary;
  font-weight: $font-weight-extrabold;
  letter-spacing: -.55px;
  line-height: 30px;
  margin-bottom: $spacing-unit-default;
  margin-bottom: ($spacing-unit-default / 16px) * 1rem;

  // @include breakpoint((min-width $screen-small) (max-width $screen-large) (orientation landscape)) {
  //   @include font-size($font-size-card-title - 4px);
  //   line-height: 27px;
  // }

}

h3 {
  @include font-size($font-size-work-title);
  font-family: $font-primary;
  font-weight: $font-weight-extrabold;
  letter-spacing: -.39px;
  line-height: 27px;

  @include breakpoint($tablet-small) {
    letter-spacing: -.55px;
    line-height: 22px;
  }
}

h4 {
  @include font-size($font-size-cover-subtitle);
  font-weight: $font-weight-default;
  line-height: 18px;
}

p,
li,
address {
  @include font-size($font-size-centi);
  font-family: $font-secondary;
  font-style: normal;
  transition: font-size .4s ease-in-out;

  @include breakpoint($tablet-small) {
    @include font-size($font-size-regular);
  }

  @include breakpoint($screen-small (orientation landscape)) {
    @include font-size($font-size-regular - 1px);
  }

  @include breakpoint($screen-xx-large) {
    @include font-size($font-size-card-intro + 1px);
    // line-height: $line-height-default - 0px;
  }

  @include breakpoint($screen-xxx-large) {
    @include font-size($font-size-card-intro + 2px);
  }
}

small {
  @include font-size($font-size-card-intro);
  font-family: $font-secondary;
  font-style: italic;
  transition: font-size .4s ease-in-out;

  @include breakpoint($screen-small (orientation landscape)) {
    @include font-size($font-size-card-intro - 2px);
  }

  @include breakpoint($screen-xx-large) {
    @include font-size($font-size-card-intro);
  }

}

li {
  line-height: 26px;
}

a {
  font-family: $font-primary;

  &.btn {
    font-weight: $font-weight-bold;
  }
}

/**
 * Social icons
 */
i {
  font-family: 'social-icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-googleplus:before {
  content: '\e600';
}

.icon-twitter:before {
  content: '\e601';
}

.icon-linkedin:before {
  content: '\e602';
}

.icon-github:before {
  content: '\e603';
}

.icon-codepen:before {
  content: '\e604';
}

.icon-stackoverflow:before {
  content: '\e605';
}
