// ============================================================================
//  Blockquote
// ============================================================================

blockquote {
  overflow: hidden;
  padding-left: 2.8em;
  position: relative;
  quotes: '\201C' '\201D';

  > p {
    color: $color-quote-cite;
  }

  > footer {
    @include font-size($font-size-quote-footer);
    color: $color-quote-cite-footer;
    font-weight: $font-weight-bold;
    margin-top: 1em;
  }

  &::before {
    @include font-size($font-size-quote);
    color: $color-quote;
    content: open-quote;
    font-weight: $font-weight-extrabold;
    left: 0;
    line-height: .8;
    position: absolute;
  }
}
