// scss-lint:disable NestingDepth, SelectorDepth
.footer {
  background-color: $grey-superlight;

  i {
    color: $black;
    font-size: 24px;
  }

  a {
    color: $grey;
    font-family: $font-secondary;
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      > i {
        color: $yellow;
      }
    }
  }

  address {
    color: $grey;

    > a {
      margin-right: 0;

      &:hover {
        color: $yellow;
        // text-decoration: underline;
      }
    }
  }

  .contact {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: gutter(3);
    text-align: center;

    @include breakpoint($tablet-small) {
      flex-direction: row;
      padding: gutter(4) 0;

    }

    .contact__item {
      margin-bottom: gutter(5);
      width: 100%;

      @include breakpoint($tablet-small) {
        margin-bottom: 0;
        width: 33.3333%;
      }

      > a:last-child {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /*.copywrite {
    background-color: $black;
    color: $white;
    padding: gutter(24);
    text-align: center;
    p {
    }
  }*/
}
