// ============================================================================
//  Header
// ============================================================================

.header {
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: z('header');
}
