// scss-lint:disable ImportantRule

.nav {
  @include user-select;
  min-height: 50px;
  padding: 0 gutter(3);
}

.nav-background {
  background-color: $color-nav-background;
}

.nav__open {
  display: flex !important;
}

.nav__menu-desktop {
  align-content: center;
  align-items: center;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-height: 50px;

  @include breakpoint($screen-small) {
    display: flex;
    justify-content: space-between;
  }
}

.nav__menu-mobile {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;

  @include breakpoint($screen-small) {
    display: none;
  }
}

.nav__toggle {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 20px;

  > .bar {
    background-color: $color-nav-toogle-bar;
    border-radius: 100px;
    height: 2px;
    position: absolute;
    top: 12px;
    transition: all .5s;
    width: 20px;

    &:first-child {
      transform: translateY(-6px);
    }
  }

  &.x > .bar {
    transform: rotate(45deg);

    &:first-child {
      transform: rotate(-45deg);
    }
  }
}

.nav__home {
  color: $color-nav-home;
  display: none;
  font-weight: $font-weight-extrabold;
  letter-spacing: 3.2px;

  @include breakpoint($screen-small) {
    display: block;
  }
}

.nav__home-mobile {
  display: block;
}

.nav__item {
  display: inline-block;
  padding: .5em;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 1em;

    @include breakpoint($screen-small) {
      padding-right: 0;
    }
  }
}

.nav__link {
  @include font-size($font-size-centi);
  color: $color-nav-link;
  font-weight: $font-weight-extrabold;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    color: $color-nav-link-hover;
  }
}

.nav__current > .nav__link {
  color: $color-nav-link-hover;
}
